.query {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.query__color-indicator {
  height: 17px;
  width: 17px;
  border-radius: 100%;
  margin-right: 10px;
}

.query__input {
  margin: 10px;
  border: 0;
  outline: 0;
  font: inherit;
  color: white;
  background: transparent;
}

.query__delete {
  background-color: DodgerBlue;
}